.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 80px;

  background-color: #9b26af;
  box-shadow: 0 1px 10px -2px;
}

.headerNav {
  height: 100%;
}

.headerNavTab {
  float: left;

  height: 100%;
  padding: 0 20px;

  line-height: 80px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;

  cursor: pointer;

  transition: .3s ease-in-out
}

.headerNavTab:hover {
  color: #68efad;

  transform: scale(1.2, 1.2);
}