.todoItem {
  position: relative;

  height: 3em;
  width: 100%;
  padding: 0 1.5em;

  border: 1px solid #f2f2f2;

  line-height: 3em;
  color: #333333;
  font-weight: 500;
}

.todoItem:not(:first-of-type) {
  border-top: none;
}

.close {
  position: absolute;
  right: 0.5em;
  top: 0.75em;

  border: none;
  background-color: transparent;

  color: #9b26af;
  font-size: 1em;
  font-weight: 500;

  cursor: pointer;
}

.close:hover {
  color: #691a99
}